<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who are you?</title>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="background-color:orange;">
<center>
<h2>Who are You? Please add your Face...</h2>
<button class="btn btn-primary rounded-pill"><a href="{% url 'reg' %}"><b style="color:white;">Add your Face</b></a></button>
    </center>
</body>
</html>